{% extends  'base.html' %}
{% block title %}Create new News{% endblock %}
{% block content %}
  <h1>Create a new Article</h1>
  <form action="{% url desk.views.create_article %}" method='POST'  accept-charset="UTF-8" >{% csrf_token  %}
    {{ article_form.as_p }}
    <input type="submit" value="Submit" />
  </form>
{% endblock %}
