        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">News Desk</a>
                    {% include 'header_searchbar.html' %}
                    <div class="nav-collapse collapse pull-right">
                      <!-- The drop down menu -->
                      <ul class="nav pull-right">
                        {% if user.is_authenticated %}
                          {% include 'header_signed.html' %}
                        {% else %}
                          {% include 'header_unsigned.html' %}
                        {% endif %}
                      </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
