<li><a href="/accounts/register">Sign Up</a></li>
<li class="divider-vertical"></li>
<li class="dropdown">
  <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
  <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
    <!-- Login form here -->
    <form action="{% url django.contrib.auth.views.login %}?next={{request.path}}" method="post" accept-charset="UTF-8">{% csrf_token %}
      <input id="username" style="margin-bottom: 15px;" type="text" name="username" size="30" />
      <input id="password" style="margin-bottom: 15px;" type="password" name="password" size="30" />
      <input id="remember_me" style="float: left; margin-right: 10px;" type="checkbox" name="user[remember_me]" value="1" />
      <label class="string optional" for="user_remember_me"> Remember me</label>
      <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Sign In" />
    </form>
    <p><a href="{% url auth_password_reset %}">Forgot your password?</a>
    <a href="{% url registration_register %}">Need an account?</a></p>
  </div>
</li>
