<li><a href="{% url desk.views.create_article %}">Create a News</a></li>
<li class="divider-vertical"></li>
<li><a href="{% url desk.views.show_profile %}">{{ user.first_name }} {{ user.last_name }}</a></li>
<li class="divider-vertical"></li>
<li class="dropdown">
  <a class="dropdown-toggle" href="#" data-toggle="dropdown">Account<strong class="caret"></strong></a>
  <ul class="dropdown-menu">
    <li><a href="">Home</a></li>
    <li><a href="/accounts/logout">Logout</a></li>
  </ul>
</li>
