{% extends  'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
  {% if user.is_authenticated %}
    Hi {{ user.first_name }} {{ user.last_name }} (@{{user.username}})
  {% endif %}
  <h2>Latest News</h2>
  {% for article in articles %}
    <h3>{{ article.headline }}</h3>
  {% endfor %}
{% endblock %}
