{% extends 'base.html' %}

{% block head_extra  %}
  <link rel="stylesheet" href="/static/css/profile.css">
{% endblock %}

{% block title %}{{ user.author.name }} | NewsDesk {% endblock %}

{% block content %} 
  {% include 'profile_header.html' %}
  <h2>News I Created</h2>
  {% for article in articles %}
    <h3>{{ article.headline  }}</h3>
  {% endfor %}
{% endblock %}
