<div id="profile-header">
  <div id="profile-content">
    <div id="profile-image" class="img-circle">
      {{ user.author.image }}
    </div>
    <div id="profile-name">
      {{ user.author.name }}
    </div>
    <div id="profile-bio">
      {{ user.author.short_bio }}
    </div>
  </div>
</div>
