#profile-header{
    width: 100%;
    height: 250px;
    padding: 0px;
    margin: 0px;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 5px #888888;
    background: #888;
}

#profile-content{
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0px;
    text-align: center;
    vertical-align: middle;

}
#profile-image{
    position: relative;
    top: 20px;
    border: 2px solid black;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: -20px;
    background: #bbb;
}
#profile-name{
    position: relative;
    top: 35px;
    font-size: 30pt;
    color: #fff;
}
#profile-bio{
    position: relative;
    top: 45px;
    margin: auto;
    font-size: 14pt;
    color: #fff;
}